<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
        <h1>Predictions of Crime</h1>
        <form action="showform" method="POST">
        crime 
        
        <select name="crime">
                <option value="rape">rape</option>
                <option value="murder">murder</option>
                <option value="robbery">robbery</option>
        </select>

        algorithm
        <select name="algo">
                <option value="mlr">Multi Linear regression</option>
                <option value="forest">random forest</option>
                <option value="glm">generalised liear model</option>
        </select>

        <button type="submit"> submit</button>
        </form> 
</body>
</html>