<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/home.css" />
    <title>Home</title>
  </head>

  <body>
    <!-- <h1> Karnataka Crime Analysis</h1>
    <button>
        <a href="/visualize">
            visualize crime
        </a>
    </button>
    <button>
        <a href="/crimeprediction">
            predict crime
        </a>
    </button> -->

    <div class="box">
      <div class="header">
        <p>Karnataka Crime Analysis</p>
      </div>
      

      <div class="button-parent">
        <button class="button-type-one" >
          <a href="/visualize">
            Visualize crime
          </a>
        </button>
        <button class="button-type-one" >  
          <a href="/crimeprediction">
            Predict crime
          </a>
        </button>
      </div>
    </div>
  </body>
</html>
