.button-type-one {
   
    min-width: 20vw !important;
    min-height: 15vh !important;
    max-width: max-content !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
 
}

.button-parent {
    // border: dotted red;
     margin: 0 auto;
     padding-top:220px;
     width: 60vw;
     height: 20vh;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 0;
   }