.result
{
    margin:0 auto ;
    margin-top: 200px;
    cursor: pointer;
 
  width: 35vw;
  height: 28vh;
    background-color: #7F0000;
    border-radius: 6px;

    p{
        color: white;
        // font-family: "Ubuntu", sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-size: 32px;
        font-weight: 500;
        padding: 24px;
        text-align: center;
    }

    padding-bottom: 25px;
}

.result-background{
    background-color: rgb(53, 4, 4);
    width: max-content;
    height: max-content;
   margin-top: 12px;
    margin: 0 auto;
    border-radius: 6px;
    p{
        color: white;
        // font-family: "Ubuntu", sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-size: 32px;
        font-weight: 500;
        padding: 24px;
        text-align: center;
    }
}