.custom-select {
    position: relative;
    font-family: 'Open Sans', sans-serif;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #7F0000;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #7F0000;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .button-type-one {
   
    min-width: 20vw !important;
    min-height: 15vh !important;
    max-width: max-content !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
 
}

.submit{
    margin: 0 auto;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  
    width: 10vw;
    height: 8vh;
    background-color: #441F1D;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    // font-family: "Ubuntu", sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 500;
   
}

.submit:hover{
background-color: #6b2515;
}

.submit-parent{
    width: max-content;
    height: max-content;
    margin: 0 auto;
    margin-top: 100px;
}

.header-two{
  width: max-content;
  height: 12vh;
  //border: dotted red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    color: white;
    // font-family: "Ubuntu", sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 24px;
    text-decoration: none;
  }
}

.header {
  // border: solid green;
  width: 100%;
  height: 12vh;
  background-color: #441f1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
//   border-radius: 8px 8px 0px 0px;

  p {
    color: white;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 24px;
  }
}